.Diet {
    background-image: url('./diet-background.jpg');
    background-color: lavender;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .diet-content  {
    left: 45%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: left;
  }
  .diet-container {
    left: 90px;
    background-color: sandybrown;
    width: 400px;
    height: 530px;
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
    padding-left: 30px;
  }
  .diet-container h2 {
      color: white;
      font-weight: bold;
      font-size: 30px;
  }
.vegetarian {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-vegetarian {
    height: 30px;
    width: 30px;
}
.vegan {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-vegan {
    height: 30px;
    width: 30px;
}
.pescatarian {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-pescatarian {
    height: 30px;
    width: 30px;
}
.peanut-free {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-peanutfree {
    height: 30px;
    width: 30px;
}
.gluten-free {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-glutenfree {
    height: 30px;
    width: 30px;
}
.dairy-free {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 2rem;
    padding-bottom: 20px;
}
.input-dairyfree {
    height: 30px;
    width: 30px;
}
.diet-button button{
    background-color: green;
    width: 7rem;
    height: 2.5rem;;
    margin-left: 2.5em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: .2em;
    border-color: white;
    border-style: double;
  }
  .diet-button button:hover{
    background-color: lightgreen;
  }  