.MyAccount {
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .account-container {
    left: 225px;
    top: 100px;
    background-color: #FFCF7E;
    width: 1000px;
    height: 500px;
    position: fixed;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
  }
  .account-list{
    margin-left: 50px;
    margin-top: 60px;
    color: #177A00;
    width: 350px;
    height: 400px;
    position: fixed;
    flex-direction: row;
    display: flex;
    border-radius: 50px;
  }
  .account-list h1{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 100px;
  }
  .account-list2{
    margin-left: 550px;
    margin-top: 60px;
    background-color: white;
    color: #177A00;
    width: 350px;
    height: 400px;
    position: fixed;
    flex-direction: row;
    display: flex;
    border-radius: 50px;
  }
  .account-list2 h1{
    color: #177A00;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 70px;
  }




    
   