.Recipes {
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .recipes-container {
    left: 225px;
    top: 100px;
    background-color: rgb(160, 210, 137, 0.43);
    width: 1000px;
    height: 500px;
    position: fixed;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
  }
  .recipes-list{
    margin-left: 50px;
    margin-top: 70px;
    background-color: white;
    color: #177A00;
    width: 250px;
    height: 350px;
    position: fixed;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
  }
  .recipes-list2{
    margin-left: 375px;
    margin-top: 70px;
    background-color: white;
    color: #177A00;
    width: 250px;
    height: 350px;
    position: fixed;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
  }
  .recipes-list3{
    margin-left: 700px;
    margin-top: 70px;
    background-color: white;
    color: #177A00;
    width: 250px;
    height: 350px;
    position: fixed;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
  }
  .recipes-list h{
      font-weight: bolder;
      font-size: 50px;
      margin-left: 30px;
  }
  .recipes-list2 h{
    font-weight: bolder;
    font-size: 50px;
    margin-left: 30px;
}
.recipes-list3 h{
    font-weight: bolder;
    font-size: 50px;
    margin-left: 30px;
}


    
   